{% extends 'layout.html.twig' %}
{% set active = 'fps' %}

{% block content %}
    <h1>FPS</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Min</th>
            <th>Max</th>
            <th>Avg</th>
        </tr>
        </thead>
        <tbody>
            {%  for fps in fpss %}
                <tr>
                    <td>{% set timestamp = fps.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ fps.timestamp % 1000 }}</td>
                    <td>{{ fps.data.name}}</td>
                    <td>{{ fps.data.min}}</td>
                    <td>{{ fps.data.max}}</td>
                    <td>{{ fps.data.avg}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
