{% extends 'layout.html.twig' %}
{% set active = 'memory' %}

{% block content %}
    <h1>Memory</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Heap size limit</th>
            <th>Used</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {%  for memory in memorys %}
                <tr>
                    <td>{% set timestamp = memory.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ memory.timestamp % 1000 }}</td>
                    <td>{{ memory.data.name }}</td>
                    <td>{{ memory.data.heapSizeLimit // (1024*1024) }} MB</td>
                    <td>{{ memory.data.used // (1024*1024) }} MB</td>
                    <td>{{ memory.data.total // (1024*1024) }} MB</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
