{% extends 'layout.html.twig' %}
{% set active = 'navigation' %}

{% block content %}
    <h1>Navigation</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Page ready</th>
            <th>Page load</th>
        </tr>
        </thead>
        <tbody>
            {%  for navigation in navigations %}
                <tr>
                    <td>{% set timestamp = navigation.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ navigation.timestamp % 1000 }}</td>
                    <td>{{ navigation.data.name }}</td>
                    <td>{{ navigation.data.pageReady }}</td>
                    <td>{{ navigation.data.pageLoad }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
