{% extends 'layout.html.twig' %}
{% set active = 'sessions' %}

{% block content %}
    <h1>Sessions</h1>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Time</th>
            <th>Project</th>
            <th>Token</th>
            <th>User</th>
            <th class="span3">Actions</th>
        </tr>
        </thead>
        <tbody>
            {%  for session in sessions %}
                <tr>
                    <td>{% set timestamp = session.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ session.timestamp % 1000 }}</td>
                    <td>{{ session.data.project }}</td>
                    <td>{{ session.token }}</td>
                    <td>
                        {% if session.data.user is defined %}
                            {{ session.data.user.userAgent }}<br />
                            {{ session.data.user.os }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-mini" href="{{ path('session_details', { 'token': session.token }) }}">Session details</a>
                        <a class="btn btn-mini" href="{{ path('project_details', { 'project': session.data.project }) }}">Project details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
