{% extends 'layout.html.twig' %}
{% set active = 'session' %}

{% block content %}
    <h1>FPS</h1>
    <div id="fpsChart"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Min</th>
            <th>Max</th>
            <th>Avg</th>
        </tr>
        </thead>
        <tbody>
            {%  for fps in fpss %}
                <tr>
                    <td>{% set timestamp = fps.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ fps.timestamp % 1000 }}</td>
                    <td>{{ fps.data.name}}</td>
                    <td>{{ fps.data.min}}</td>
                    <td>{{ fps.data.max}}</td>
                    <td>{{ fps.data.avg}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if memorys is not empty %}
    <h1>Memory</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Heap size limit</th>
            <th>Used</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {%  for memory in memorys %}
            <tr>
                <td>{% set timestamp = memory.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ memory.timestamp % 1000 }}</td>
                <td>{{ memory.data.name }}</td>
                <td>{{ memory.data.heapSizeLimit // (1024*1024) }} MB</td>
                <td>{{ memory.data.used // (1024*1024) }} MB</td>
                <td>{{ memory.data.total // (1024*1024) }} MB</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if navigations is not empty %}
    <h1>Navigation</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Page ready</th>
            <th>Page load</th>
        </tr>
        </thead>
        <tbody>
        {%  for navigation in navigations %}
            <tr>
                <td>{% set timestamp = navigation.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ navigation.timestamp % 1000 }}</td>
                <td>{{ navigation.data.name }}</td>
                <td>{{ navigation.data.pageReady }}</td>
                <td>{{ navigation.data.pageLoad }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if times is not empty %}
    <h1>Time</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Diff</th>
        </tr>
        </thead>
        <tbody>
        {%  for time in times %}
            <tr>
                <td>{% set timestamp = time.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ time.timestamp % 1000 }}</td>
                <td>{{ time.data.name }}</td>
                <td>{{ time.data.diff }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
<script>
    var app = {};
    app.apiUrl = '{{ path('api_fps', { 'token': token}) }}';
</script>
{% endblock %}