{% extends 'layout.html.twig' %}
{% set active = 'time' %}

{% block content %}
    <h1>Time</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Diff</th>
        </tr>
        </thead>
        <tbody>
            {%  for time in times %}
                <tr>
                    <td>{% set timestamp = time.timestamp // 1000 %}{{ timestamp|date('Y-m-d H:i:s') }}.{{ time.timestamp % 1000 }}</td>
                    <td>{{ time.data.name }}</td>
                    <td>{{ time.data.diff }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
