@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";

body {
    padding-top: 60px;
}
// d3js styles
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
